<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js", :'data-dojo-config' => %Q(async: true, parseOnLoad: true) %>
  <script type="text/javascript">
      require(["dijit/form/Button", "dojo/parser", "dojo/domReady!"]);
  </script>
  <%= csrf_meta_tags %>
</head>
<body class="claro <%= controller.controller_name %>">

<%= yield %>

</body>
</html>
